/* header.css */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 50;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    background-color: white;
    margin: 0 10rem;
    color: var(--color-main-black);
    cursor: url('/assets/images/icons/arrowhead-rounded-outline.svg'), auto;
}

.nav-links a {
    cursor: url('/assets/images/icons/hand-pointer.svg'), auto;
}

.nav-links a:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.logo span {
    cursor: url('/assets/images/icons/hand-pointer.svg'), auto;
}