/* main.css */
@font-face {
    font-family: "Jetbrains";
    src: url('/assets/fonts/ttf/JetBrainsMono-Medium.ttf');
}

:root {
    --color-main-black: #23272a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Jetbrains", sans-serif;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    color: var(--color-main-black);
    text-decoration: none;
    font-weight: bold;
}
