/* buttons.css */
.button-action button {
    cursor: url('/assets/images/icons/hand-pointer.svg'), auto;
    border-radius: 20px;
    height: 3rem;
    width: 10rem;
    
}

#button-cv {
    color: var(--color-main-black);
    border: 2px solid var(--color-main-black);
    background-color: white;
}

#button-cv:hover {
    background-color: var(--color-main-black);
    color: white;
    transition: 0.3s;
}

#button-contact {
    background-color: var(--color-main-black);
    border: 2px solid var(--color-main-black);
    color: white;
}

#button-contact:hover {
    background-color: white;
    color: var(--color-main-black);
    transition: 0.3s;
}

/* buttons.css */

.social-links {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    z-index: 40;
}

.social-links img {
    cursor: url('/assets/images/icons/hand-pointer.svg'), auto;
    width: 100%;
    height: 50px;
}

ul li {
    list-style: none;
    display: flex;
    gap: 3.5rem;
}
