/* layout.css */

.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13rem;
}

.presentation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.aboutme-section {
    margin-top: 10rem;
    display: flex;
    max-width: 100%;
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
}

.aboutme-section-information {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
}
