/* sections.css */

.aboutme-section-experience, .aboutme-section-education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px gray;
    text-align: center;
    border-radius: 20px;
    width: calc(50% - 1rem);
    box-sizing: border-box;
}

.section-transition {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.frontend-container, .backend-container {
    border: solid 2px gray; 
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; /* Permet le retour à la ligne pour créer des colonnes */
    padding: 1rem;
    margin-bottom: 1rem;
}

.frontend-container div, .backend-container div {
    display: flex;
    align-items: flex-start;
    width: 30%; /* Chaque élément occupe 30% de la largeur du conteneur */
    margin-bottom: 1rem;
}

.frontend-container img, .backend-container img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.frontend-container .text-content, .backend-container .text-content {
    display: flex;
    flex-direction: column;
}

.frontend-container h1, .backend-container h1 {
    margin: 0;
    font-size: 1.5rem;
}

.frontend-container p, .backend-container p {
    margin: 0;
    font-size: 1rem;
    color: gray;
    margin-top: 5px;
}



