/* text.css */

.discover h1, .discover h2, .discover p {
    text-align: center;
    margin-bottom: 1rem;
}

.discover h1 {
    font-size: 3rem;
    color: var(--color-main-black);
}

.discover h2 {
    font-size: 2rem;
    color: gray;
}

.aboutme-description {
    text-align: center;
    text-align: justify;
    text-justify: inter-word;
    color: gray;
    width: 100%;
}

.aboutme-section-experience p, .aboutme-section-education p {
    color: gray;
}

.aboutme-section-transition p {
    color: gray;
}

.aboutme-section-transition h1 {
    margin-top: 0.5rem;
    color: var(--color-main-black);
    font-size: 3rem;
}
